# Ignore all CSV files
*.csv

# Ignore CSV files even if they are in subdirectories
**/*.csv


# Ignore all CSV files
*.txt

# Ignore CSV files even if they are in subdirectories
**/*.txt

# Ignore all CSV files
*.xls

# Ignore CSV files even if they are in subdirectories
**/*.xls

/netbooks/

*.npy 

 /*.npy
#directory

/GRN_ROSMAP_20_May_2024_Plaques_and_Clinical/netbooks/
/GRN_ROSMAP_20_May_2024_Plaques_and_Clinical/output_GRN/
/GRN_ROSMAP_20_May_2024_Plaques_and_Clinical/Preprocessed_sample_specific_networks/
/GRN_ROSMAP_20_May_2024_Plaques_and_Clinical/raw_data/